{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Your role and decision
{% endblock %}

{% block content %}

    <style type="text/css">
        {% if player.complex_mode %}

            #offer {
                display: none;
            }

        {% endif %}

    </style>

    <p>
        You are the <b>responder</b>.
    </p>

    {% if player.complex_mode %}

        {% include Constants.popup_template %}

    {% endif %}

    <p id="offer">
        The other player has offered you {{ player.amount_offered }}.
        <br>
        <b>Do you wish to accept the offer?</b>
    </p>


    <div>
        <button name="offer_accepted" value="True" class="btn btn-primary btn-large">
            Yes
        </button>
        <button name="offer_accepted" value="False" class="btn btn-primary btn-large">
            No
        </button>
    </div>

    <br>
    <br>

    {% include Constants.instructions_template %}

{% endblock %}
