{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choose Thresholds
{% endblock %}

{% block app_styles %}

    <style type="text/css">
        #reject_amount, #accept_amount {
            border: 0;
            color: #f6931f;
            font-weight: bold;
            position: relative;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
        }

        .indifferent {
            border: 0;
            color: #f6931f;
            font-weight: bold;
            text-align: center;
            width: 11%;
        }

        .slider_right {
            display: inline-block;
            float: right
        }

        .slider_left {
            display: inline-block;
            float: left
        }
    </style>

{% endblock %}

{% block content %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script>
        $(function () {
            $("#reject-range").slider({
                range: "max",
                min: 0,
                max: 100,
                values: [100],
                slide: function (event, ui) {
                    $(".reject_amount").val('$' + ui.values[0]); // renders the current value when moving the handle
                    $("#id_max_reject").val(ui.values[0]); //pass the value from the slider to the player's attribute based on the model field name
                }
            });
            $(".reject_amount").val('$' + $("#reject-range").slider("values", 0)); // renders the slider's value
        });

        $(function () {
            $("#accept-range").slider({
                range: "min",
                min: 0,
                max: 100,
                values: [0],
                slide: function (event, ui) {
                    $(".accept_amount").val("$" + ui.values[0]); // renders the slider's current value when moving the handle
                    $("#id_min_accept").val(ui.values[0]); //pass the value from the slider to the player's attribute based on the model field name
                }
            });
            $(".accept_amount").val("$" + $("#accept-range").slider("values", 0)); // renders the slider's value
        });


    </script>

    {% if player.complex_mode %}

        {% include Constants.popup_template %}

    {% endif %}

    <p>What is the biggest offer you would ABSOLUTELY reject?</p>

    {# displays the player's decision about the biggest offer he would absolutely reject #}
    <input id="reject_amount" class="reject_amount" readonly>

    <div>
        {# this div is the slider for the biggest offer the player would absolutely reject #}
        <div id="reject-range"></div>
        {# render the input fields as hidden to pass the value there from the slider using their id, based on the model field name #}
        {{ form.max_reject.as_hidden }}
        <span class="slider_left">$0</span>
        <span class="slider_right">$100</span>
    </div>

    <br>
    <br>

    <p>What is the smallest offer you would ABSOLUTELY accept?</p>

    {# displays the player's decision about the smallest offer he would absolutely accept #}
    <input id="accept_amount" class="accept_amount" readonly>

    <div>
        {# this div is the slider for the biggest offer the player would absolutely reject #}
        <div id="accept-range"></div>
        {# render the input fields as hidden to pass the value there from the slider using their id, based on the model field name #}
        {{ form.min_accept.as_hidden }}
        <span class="slider_left">$0</span>
        <span class="slider_right">$100</span>
    </div>

    <br>
    <br>

    <p>You are indifferent between
        <input readonly class="reject_amount indifferent"> and
        <input readonly class="accept_amount indifferent">
    </p>

    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
