{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choose Intervals
{% endblock %}

{% block content %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#reject-range").slider({
                range: "max",
                min: 0,
                max: 100,
                values: [100],
                slide: function (event, ui) {
                    $(".reject_amount").val('$' + ui.values[0]);
                    $("#id_max_reject").val(ui.values[0]);
                }
            });
            $(".reject_amount").val('$' + $("#reject-range").slider("values", 0));
        });

        $(function () {
            $("#accept-range").slider({
                range: "min",
                min: 0,
                max: 100,
                values: [0],
                slide: function (event, ui) {
                    $(".accept_amount").val("$" + ui.values[0]);
                    $("#id_min_accept").val(ui.values[0]);
                }
            });
            $(".accept_amount").val("$" + $("#accept-range").slider("values", 0));
        });
    </script>



    <label>What is the biggest offer you would ABSOLUTELY reject?</label>
    <br>
    <br>
    <input class="reject_amount" readonly
           style="border:0; color:#f6931f; font-weight:bold;
           position: relative; top: 50%;left: 50%; text-align: center;
           transform: translate(-50%, -50%);">
    <br>

    <div>
        <div id="reject-range"></div>
        {{ form.max_reject.as_hidden }}
        <span style="display: inline-block; float: left">$0</span>
        <span style="display: inline-block; float: right">$100</span>
    </div>


    <br>
    <br>

    <label>What is the smallest offer you would ABSOLUTELY accept?</label>
    <br>
    <br>
    <input class="accept_amount" readonly
           style="border:0; color:#f6931f; font-weight:bold;
           position: relative; top: 50%;left: 50%; text-align: center;
           transform: translate(-50%, -50%);">
    <br>

    <div>
        <div id="accept-range"></div>
        {{ form.min_accept.as_hidden }}
        <span style="display: inline-block; float: left">$0</span>
        <span style="display: inline-block; float: right">$100</span>
    </div>

    <br>
    <br>

    <label>Yoy are indifferent between
        <input readonly class="reject_amount" style="border:0; color:#f6931f; font-weight:bold; text-align: center;"></input> and
        <input readonly class="accept_amount" style="border:0; color:#f6931f; font-weight:bold; text-align: center;"></input></label>
    <br>
    <br>

    {% next_button %}

{% endblock %}
