{% load otree static %}
<script>
    // load the modal after the DOM is ready. Otherwise it will not be displayed.
    $(document).ready(function () {
        $(function () {
            $('#exampleModal').modal();

        });
    });

    // display the offer only after the modal is dismissed.
    function displayOffer() {
        $('#offer').css("display", "inline");
    }
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">System Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="displayOffer()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ player.message }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="displayOffer()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>